@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: whitesmoke;
    font-family: 'Montserrat', 'arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #087E8B;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #f55e65;
    color: white;
}

.book, .join {
    background-color: #f55e65;
    color: #1c5175;
    text-decoration: none;
    font-size: .18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #087E8B;
    color: white;
}
.msg {
    background-color: #f55e65;
    line-height: 1.5em;
    padding: 35px;
}
#background {
    background-color: #0e3166 ;
}
footer {
    background-color: #087E8B;
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a {
    background-color: #087E8B;
    color: #c2e0f6;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
h2 {
    margin: 0;
}
.home-title {
    color: #234157;
    font-family:'Roboto', 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg1 {
    background-color: #f55e65;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px
}
.msg1 h2 {
    color: white;
    padding-top: 1%;
}
.msg1 p {
    padding-bottom: 1%;
}
.q2 {
    background-color: #087E8B;
}
.q3 {
    background-color: #f55e65;
    border-radius: 10px
}
.q3 h2 {
    color: #c2e0f6;
}
.q1 h2 {
    color: #087E8B;
}
.q2 h2 {
    padding-top: 1%;
    color: aliceblue;
}
.q2 p {
    padding-bottom: 1%;
}
.home-block {
    display: block;
    grid-template-columns: 10fr 10fr 10fr;
}
.home-block p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
h4 {
    color: #05275b;
}
.msg h2 {
    color: #BFD7EA;
    font-family:'Roboto', 'Montserrat', sans-serif;
}
.msg p {
    color: #BFD7EA;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img{
    border: 10px solid #0e3166;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
footer {
    background-color: #087E8B;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f55e65;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }


  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
                    
         
@media screen and (max-width: 900px) {
    #hero, .home-grid, .home-block {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color:  #0e3166 
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            